<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<!--
	INSTALLATION:
		Copy this file into either
		~/Library/Application Support/TextWrangler/Language Modules/     for TextWrangler, or
		~/Library/Application Support/BBEdit/Language Modules/           for BBEdit
		
	CREDITS: I got the list of Keywords from various sources including:
		Dilwyn Jone's superb QL site: http://www.dilwyn.me.uk/
		Marcos Cruz's VIM file: http://programandala.net/en.program.superbasic_vim_syntax_file
		Various books, eg the QL manual, the Jan Jones SuperBASIC book (QUANTA reprint) etc
-->
  <dict>
    <key>BBEditDocumentType</key>
    <string>CodelessLanguageModule</string>
    <key>BBLMLanguageCode</key>
    <string>XPL</string>
    <key>BBLMLanguageDisplayName</key>
    <string>XPL</string>
    <key>BBLMSuffixMap</key>
    <array>
      <dict>
        <key>BBLMLanguageSuffix</key>
        <string>.xpl</string>
      </dict>
    </array>
    <key>BBLMColorsSyntax</key>
    <true/>
    <key>BBLMScansFunctions</key>
    <true/>
    <key>BBLMSupportsTextCompletion</key>
    <true/>
    <key>BBLMKeywordList</key>
    <array>
      <string>asm</string>
      <string>auto</string>
      <string>break</string>
      <string>call</string>
      <string>case</string>
      <string>char</string>
      <string>const</string>
      <string>continue</string>
      <string>data</string>
      <string>default</string>
      <string>dcl</string>
      <string>do</string>
      <string>double</string>
      <string>else</string>
      <string>enum</string>
      <string>extern</string>
      <string>external</string>
      <string>float</string>
      <string>fixed</string>
      <string>for</string>
      <string>goto</string>
      <string>if</string>
      <string>inline</string>
      <string>insert</string>
      <string>int</string>
      <string>long</string>
      <string>pascal</string>
      <string>proc</string>
      <string>procedure</string>
      <string>public</string>
      <string>register</string>
      <string>restrict</string>
      <string>return</string>
      <string>short</string>
      <string>signed</string>
      <string>sizeof</string>
      <string>static</string>
      <string>struct</string>
      <string>swap</string>
      <string>swapable</string>
      <string>switch</string>
      <string>then</string>
      <string>typedef</string>
      <string>typeof</string>
      <string>union</string>
      <string>unsigned</string>
      <string>void</string>
      <string>volatile</string>
      <string>while</string>
    </array>
    <key>BBLMPredefinedNameList</key>
    <array>
      <string>WHEN</string>
      <string>THEN</string>
      <string>AND</string>
      <string>OR</string>
    </array>
    <key>Language Features</key>
    <dict>
      <key>Open Block Comments</key>
      <string>/*</string>
      <key>Close Block Comments</key>
      <string>*/</string>
      <key>Open Line Comments</key>
      <string>//</string>
      <key>Identifier and Keyword Character Class</key>
      <string>a-zA-Z0-9_#.</string>
      <key>Open Strings 1</key>
      <string>"</string>
      <key>Close Strings 1</key>
      <string>"</string>
      <key>Escape Char in Strings 1</key>
      <string>\</string>
      <key>End-of-line Ends Strings 1</key>
      <true/>
      <key>Prefix for Functions</key>
      <string>def</string>
      <key>Open Parameter Lists</key>
      <string>(</string>
      <key>Close Parameter Lists</key>
      <string>)</string>
      <key>Open Statement Blocks</key>
      <string>{</string>
      <key>Close Statement Blocks</key>
      <string>}</string>            
    </dict>
  </dict>
</plist>